@using TradingChat.Application.UseCases.Shared;
@model ChatMessagesDto

<h1>@Model.Name</h1>
<input type="hidden" id="chat-id" value="@Model.ChatRoomId" />

<div class="chat-messages">
    @foreach (var message in Model.Messages)
    {
        <div class="chat-message">
            <div class="chat-message-header">
                <span class="chat-message-sender">@message.User</span>
                <span class="chat-message-time">@message.SentAtString</span>
            </div>
            <div class="chat-message-text">@message.Message</div>
        </div>
    }
</div>

<form class="send-message-form">
    <textarea rows="3" maxlength="1000" class="message-input"></textarea>
    <button type="submit" class="send-message-button">Send</button>
</form>

@section Styles{
    <link rel="stylesheet" href="~/css/chat.css" />
}

@section Scripts{
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/js/chat/chat.js"></script>
}