@using TradingChat.Application.UseCases.GetChatsInfo;
@model ChatsInfoResult

@{
    ViewData["Title"] = "Chats";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div class="text-center">
                <h1 class="display-4">Chats</h1>
            </div>
            <hr />
            <a asp-action="Create" class="btn btn-primary">Create new Chat</a>
            <hr />
            <div asp-validation-summary="All" id="validation-summary" class="text-danger" role="alert"></div>
            <div class="row">
                @foreach (var chat in Model.Chats)
                {
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4">
                        <div class="card card-wrapper">
                            <div class="card-body">
                                <div class="card-title-wrapper">
                                    <h5 class="card-title">@chat.Name</h5>
                                    <hr class="mt-0 mb-2">
                                </div>
                                <div class="card-info mt-auto">
                                    <p class="card-text">
                                        <span class="font-weight-bold">By:</span>
                                        @chat.Owner
                                    </p>
                                    <p class="card-text">
                                        <span class="font-weight-bold">Users:</span>
                                        @chat.NumberOfUsers / @chat.MaxNumberOfUsers
                                    </p>
                                </div>
                                <form class="join-chat-form" action="@Url.Action("JoinChat", "Chat")" method="post">
                                    <input type="hidden" name="chatId" value="@chat.Id" />
                                    <button type="submit" class="btn btn-primary">Join chat</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Styles{
    <link rel="stylesheet" href="~/css/chat/index.css" />
}

@section Scripts {
    <script src="~/js/chat/index.js"></script>
}

